.container-cat{
    margin-top: 60px;
    margin-bottom: 40px;
}
.head-2{
  font-size: 30px;
  font-weight: bold;
}
.cat-text{
    text-align: center;
}
.head-3{
    font-weight: 550;
    max-width: 100px;
    color: rgb(22, 22, 59);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.para-4{
    font-size: 0.8rem;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container-item{
    margin-top: 40px;
}
.card-list{
    display: flex;
    justify-content: space-evenly;
}
.card{
    border: transparent;
    text-align: center;
}
.card-img{
    margin-left: 25px;
    background-color: rgb(84, 84, 162);
    width:50px; 
    height: 50px;
}